.bienvenida{
  background: url("/var/www/html/ProyectoDaw/appproyecto/public/fondoNow.png");

}

.card{
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  border: 2px solid white;
  background-color: rgb(255, 255, 255, .1);
}



h2{
  align-self: center;
  color: white;
}


input:not(input[type=submit]){
  align-self: center;
  background:none;
  color: black;
  border: 1px solid white;
  
}

.df-messenger-wrapper{
  display: none;
}

input::placeholder{
  color: rgb(255, 255, 255);
}
