.main{
    /* height: 100vh; */
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-areas: 'header header' 'sidebar contenido';
    grid-template-rows: 10% 90%;
    grid-template-columns: 15% 85%;
    transition: grid-template-columns .3s ease;
    
}
.main2{
    grid-template-columns: 5% 95%;
}

header{
    grid-area: header;
    background-color: lightcoral;
    /* width: 100%; */
    
}

#sidebar{
    grid-area: sidebar;
    background-color: lightgreen;
    /* horizontal, vertical, blur, extension, color */
    box-shadow: 10px 0px 13px -10px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    gap: 2%;

}


#content{
    grid-area: contenido;
    /* background-color: lightskyblue; */
    width: 100%;
    padding: 5%;
}

#sidebar > div{
    list-style: none;
    width: 100%;
    text-align: center;
    
}
#sidebar > div:hover{
    background-color: rgb(56, 168, 56);
    color: white;
    
}
#sidebar > div > a{
    text-decoration: none;
    color: black;
}