#main {
    background-color: lightgray;
}

header {
    background-color: rgb(219, 103, 103);
}

.contenedorNombres{
    overflow-y: auto;
    height: 100%;
    z-index: 99;
}
.resultBusqueda{
    cursor: pointer;
}

#navBar {
    background-color: rgb(219, 103, 103);
}
a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: gray;
}

.btn-outline-secondary:hover {
    background-color: rgb(255, 163, 43);
}

.busquedaEj > .inputBusqueda::placeholder{
    color: white;
}
