.form-control{
    color: black;
    border: 1px solid black;
}
.form-control::placeholder{
    color: black;
}
.btn-primary{
    background-color: #ff8c00;
    border: none;
}
.btn-primary:hover{
    background-color: #ffad49;
}